.social-share-buttons-made-easy-buttons {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 100%
}

.social-share-buttons-made-easy-buttons li {
    box-sizing: border-box;
    float: left;
    height: 100%;
    line-height: 13px;
    list-style: none;
    margin: 0;
    padding: 0 2px
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-email a {
    background-color: #0a88ff
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-email a:hover {
    background-color: #006ed6
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-facebook a {
    background-color: #306199
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-facebook a:hover {
    background-color: #244872
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-linkedin a {
    background-color: #007bb6
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-linkedin a:hover {
    background-color: #005983
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-twitter a {
    background-color: #26c4f1
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-twitter a:hover {
    background-color: #0eaad6
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-pinterest a {
    background-color: #b81621
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-pinterest a:hover {
    background-color: #8a1119
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-googleplus a {
    background-color: #e93f2e
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-googleplus a:hover {
    background-color: #ce2616
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-tumblr a {
    background-color: #32506d
}

.social-share-buttons-made-easy-buttons li.social-share-buttons-made-easy-tumblr a:hover {
    background-color: #22364a
}

.social-share-buttons-made-easy-buttons li a {
    background-color: #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    font-size: 11px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    height: 100%;
    padding: 11px 7px 12px 27px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    width: 100%
}

.social-share-buttons-made-easy-buttons li a .social-share-buttons-made-easy-icon {
    display: block;
    left: 10px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    width: 10%
}

.social-share-buttons-made-easy-buttons li a .social-share-buttons-made-easy-icon svg {
    height: 17px;
    width: 17px
}

.social-share-buttons-made-easy-buttons li a .social-share-buttons-made-easy-icon svg path,
.social-share-buttons-made-easy-buttons li a .social-share-buttons-made-easy-icon svg polygon {
    fill: #fff
}

.social-share-buttons-made-easy-buttons li a .social-share-buttons-made-easy-text {
    color: #fff
}
